---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 7
layout:
---

<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <script src="{{ "/js/eyecandy.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment-with-locales.min.js" | prepend: site.baseurl }}"></script>

  <!-- map foo -->
  <link rel="stylesheet" href="{{ "/css/leaflet.css" | prepend: site.baseurl }}"/>
  <script src="{{ "/js/leaflet.js" | prepend: site.baseurl }}"></script>
  <script>
    function mapinit() {
      var map = L.map('map').setView([49.8708289, 8.6511757], 16);
      L.Icon.Default.imagePath = '../images/';

      L.tileLayer('https://tiles.darmstadt.freifunk.net/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([49.8708289, 8.6511757]).addTo(map);
    }
  </script>
</head>

<body onLoad="mapinit();">
  {% include header.html %}
  <section id="main" class="container">
  <header>
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <p style="text-align:center">Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es persönlich bei einem unserer Treffen oder über das Internet.</p>

  <div class="row">
    <div class="8u 12u(3)">
      <div class="box" id="treffen">
        <h3>Treffen</h3>
        <p>
          Auf Grund der aktuellen Situation haben wir Beschlossen, unser Treffen <strong>am ersten Montag im Monat</strong> bis auf weiteres ausschließlich virtuell stattfinden zu lassen.
        </p>
        <p>
          Das Treffen findet im Raum <a href="https://meet.ffmuc.net/FreifunkDarmstadtPlenum">FreifunkDarmstadtPlenum</a> auf dem Jitsi Meet Server von Freifunk München statt. <br>
          Die Teilnahme ist mittels der Jitsi Apps, per Browser sowie über die Telefoneinwahl möglich.<br>
          Im <a href="https://forum.darmstadt.freifunk.net/t/freifunk-treffen-am-13-april-2020-online/847">Forum</a> sind weitere Details zu finden.
        </p>

        <p>Bitte teste dein Setup im Vorfeld und mache Dich mit der Bedienung vertraut. Teste insbesondere auch die Qualität Deines Mikrofons, beispielsweise indem Du mit Freunden über dieses Medium testweise kommunizierst.
        Eine virtuelle Konferenz erfordert deutlich mehr Disziplin. Bitte schalte daher Dein Mikrofon stumm solange Du nicht sprechen möchtest.
        Sollte es Probleme geben ist Unser <a href="https://chat.darmstadt.freifunk.net">Chat</a> ein guter Ort um Kontakt aufzunehmen.</p>

        <p>Unser Plenum findet ab <strong>19:30 Uhr</strong> statt. Dort diskutieren wir aktuelle Entwicklungen, koordinieren neue Projekte und vieles mehr. Komme gerne einfach mal vorbei, wir freuen uns!</p>
      </div>
    </div>
    <div class="4u 12u(3)">
      <div class="box">
        <h3>Nächstes Treffen</h3>
        <p>Unser nächstes Treffen findet am <strong><span id="next_meet_date">zweiten Montag im Monat</span></strong> um <strong>19:30</strong> Uhr statt.</p>
      </div>

      <div id="map" class="box" style="height: 40em;"></div>
    </div>
  </div>

  <div class="box">
    <h3>Kontaktdaten</h3>
    <p>Wenn es dir nicht möglich ist uns zu besuchen, dann gibt es natürlich noch alternative Kontaktwege:</p>
    <ul>
      <li><a href="https://forum.darmstadt.freifunk.net/">Knoteneinrichtung, Treffen, Community-Bezug: Am besten im Forum melden.</a></li>
      <li><a href="mailto:{{site.email}}">Allgemeiner Kontaktweg: ({{site.email}})</a></li>
      <li><a href="http://lists.freifunk.net/mailman/listinfo/darmstadt-freifunk.net">Mailing-Liste</a></li>
      <li><a href="https://chat.darmstadt.freifunk.net">Web-Chat</a> (alternativ direkt per IRC-Client über <a href="irc://irc.hackint.org/ffda">irc://irc.hackint.org/ffda</a> oder <a href="https://matrix.to/#/#ffda:hackint.org">#ffda:hackint.org</a> per Matrix)</li>
      <li>Anrufbeantworter: <a href="tel:+49-6151-7862802">06151 / 7862802</a>, Bitte gebe an, wann wir dich zurückrufen können.</li>
    </ul>
  </div>
  </section>

  <script>
      moment.locale('de');

      function getFirstMonday(startDate) {
        // calc date which is the start of isoweek for the month
        var startOfMonth = moment(startDate).utc().startOf('month').startOf('isoweek');
        // add 1 weeks for first monday
        var nextDate = moment(startDate).utc().startOf('month').startOf('isoweek').add(1, 'weeks');
        // if the month from startOfMonth isn't in the previous month (Monday on the 1.), substract one week
        if (nextDate.month() == startOfMonth.month()) {
          nextDate = nextDate.subtract(1, 'weeks');
        }
        return nextDate;
      }

      function getNextFirstMonday(startDate) {
        var nextDate = getFirstMonday(startDate);
        // if date is in the past, get next month
        if (nextDate.date() < startDate.date()) {
          nextDate = getFirstMonday(startDate.add(1, 'M'));
        }
        return nextDate;
      }
      
      var currentDate = moment().utc();
      var nextDate = getNextFirstMonday(currentDate);

      $('#next_meet_date').text(nextDate.format('DD. MMMM YYYY'));
  </script>

  {% include footer.html %}
</body>
</html>
