---
title: News
layout:
main_menu: true
weight: 1
permalink: /news/
top_url: /news/
---

<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <section id="main" class="container">
  <header>
    <h2 class="post-title">{{ page.title }}</h2>
  </header>
  {% for post in site.posts %}
  <div class="box">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}.html">{{ post.title }}</a>
      </h3>

      <div class="post-content">
        {{ post.content }}
        {% include social.html post=post %}
      </div>
  </div>
  {% endfor %}
  <p class="rss-subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <span class="fa-stack fa-sm">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-rss fa-stack-1x"></i>
    </span>
    RSS-Feed abonnieren</a>
  </p>

  </section>

  {% include footer.html %}
</body>
</html>
